* {
    font-family: Inter, sans-serif;
}

html{
    background-color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.travel-time-container {
    display: flex;
    border: 2px solid white;
    max-width: 900px;
    height: 400px;
    border-radius: 14px;
    margin-left: auto;
    margin-right: auto;
}

.departure {
    
    padding: 40px;
}

.travel-time-header {
    color: white;
    font-size: 40px;
    font-weight: 600;
    height: 70px;
}

.country-search {
    width: 263px;
    height: 37px;
    font-size: 30px;
    font-weight: 450;
    border: none;
}

.result-box {
    background-color: white;
    width: 267px;
    margin: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
}

.result-box ul {
    margin: 0px;
    padding-left: 0px;
}

.result-box li {
    list-style: none;
    padding: 10px 0px 10px 10px;
    font-size: 20px;
    cursor: pointer;
}

.result-box ul li:hover {
    background: rgba(0, 0, 0, 0.139);
}

.country-time {
    display: flex;
    margin: 20px 0px 0px 0px;
}

.colon {
    color: white;
    font-size: 57px;
    margin: 0px 10px 0px 10px;
}

.departure-time {
    width: 75px;
    height: 75px;
    font-size: 45px;
    text-align: center;
}
.arrival-time {
    width: 75px;
    height: 75px;
    font-size: 45px;
    text-align: center;
}

.time-text {
    color: white;
    margin: 0px;
}

.travel-time {
    width: 300px;
    padding-top: 160px;
}

.travel-time-text {
    color: white;
    text-align: center;
    
}

.travel-time-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.error-msg {
    color: white;
    text-align: center;
    font-size: 12px;
}